{
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["standard"],
  "rules":{
    "max-len": ["error", 80],
    "no-var": "error",
    "prefer-const": "error",
    "curly": ["error", "all"]
  }
}